.sidebar {
  width: 250px;
  flex-shrink: 0;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  background-position: center center;
  background-size: cover;
}
  .sidebar__title {
    text-align: center;
    background: #E8222D;
    padding: 6px 0 12px;
    color: #f5f5f5;
  }
    .sidebar-title__text {
      margin: 0;
    }